<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink=""
    routerLinkActive="active"
  >
    <mat-icon>home</mat-icon>
  </button>

  <span>My Contacts</span>
  <div class="toolbar-btn-block">
    <button
      (click)="clearLocalStorageAndUpdateData()"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      matTooltip="Clear local storage and reset contacts"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    <button mat-icon-button (click)="snav.toggle()" matTooltip="Add contact">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
  >
    <app-create-new-contact [sidenav]="snav"></app-create-new-contact>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
